.header {
  max-width: 1100px;
  border-bottom: .05rem solid #cccccc;
  margin: 0 auto;

  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 6em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "site-title main";
}

.site-title {
    grid-area: site-title;
    justify-self: left;
    align-self: center;
}

.main {
    grid-area: main;
    justify-self: right;
    align-self: center;
}

body {
    font-size: 1.6rem;
}

header {
  position: fixed;
  top: 0;
  height: 3rem;
  width: 100vw;
  background-color: #ffffff;
  opacity: 0.9;
}

ul li {
  display: inline;
  margin-right: 1em;
}
