h1 {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 3em;
  display: inline;
}

h2 {
  font-size: 2em;
  padding-top: 3rem;
}

.title-container {
  max-width: 23em;
}

img {
  max-height: 12rem;
}

@media (max-width: 576px) {
  img {
    max-height: 15rem;

  }

  h2 {
    font-size: 1.5em;
  }
}
