@font-face {
  font-family: "Walsheim Regular";
  src: url("../fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("../fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Medium";
  src: url("../fonts/GT-Walsheim-Medium.woff2") format("woff2"), url("../fonts/GT-Walsheim-Medium.woff") format("woff");
}

html {
  font-size: 13px;
}

.body-container, .contact-footer {
    max-width: 800px;
}

body {
  /* background-color: #daf0ff; */
  background-color: #15133f;
  text-align: left;
  color: #000;
  font-size: 2em;
  font-family: 'Walsheim Regular', sans-serif;
}

.color-wrapper {
  background-color: #fff;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.highlight-inline:first-of-type {
  font-family: 'Walsheim Medium', sans-serif;
}

.highlight-inline {
  color: #e33c1c;
}

h2 {
  margin-top: 4rem;
  margin-bottom: -1rem;
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 2em;
}

p {
  max-width: 23em;
  margin: 1.5rem 0;
}

a:link  {
  color: #000;
  text-decoration: underline;
}
a:visited { color: #000 }
a:hover   { color: #555 }

.img-desc {
  font-size: 1.4rem;
  max-width: 22rem;
}

.desc-container {
  text-align: right;
}

.prod-title {
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 600px) {
  .color-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  html {
    font-size: 10px;
  }

  .img-desc {
    font-size: 1.5rem;
    max-width: 22rem;
  }

}

.product-desc p {
  font-size: .75em;
  max-width: 21rem;
}

.contact-footer {
  background-color: #15133f;
  font-size: 1.4rem;
  text-align: right;
}

.contact-footer p {
  color: #fff;
}

.contact-footer a {
  color: #fff;
}

.section-start {
  padding-top: 5rem;
}

.logo{
  padding-left: 2rem;
  padding-right: 2rem;
}
