/* services */

.container {
  max-width: 1100px;
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  background-color: #fff;
  margin: 0 auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
  "intro-text intro-text intro-text intro-text . . . ."
  ". . . . . . . ."
  ". . . . . . . ."
  "img-a img-a img-a img-a img-a img-a desc desc"
  "img-b img-b img-b img-c img-c img-c desc desc"
  ;
}

.intro-text {
    grid-area: intro-text;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-desc {
    color: #999;
    margin-top: 1em;
    font-size: .85em;
}

.desc {
    grid-area: desc;
}

.img-a {
    grid-area: img-a;
}

.img-b {
    grid-area: img-b;
    justify-self: end;
}

.img-b img {
    max-height: 500px;
    width: auto;
}

.img-c {
    grid-area: img-c;
}

.img-c img {
    max-height: 500px;
    width: auto;
}

.desc-title {
    font-size: 1.1em;
    padding-top: 1em;
    margin-bottom: .7em;
}

.body-text {
    margin-bottom: .4em;
}

@media only screen and (max-width: 900px) {
    .container {
      grid-template-areas:
      "intro-text intro-text intro-text intro-text intro-text intro-text intro-text intro-text"
      ". . . . . . . ."
      ". . . . . . . ."
      "img-a img-a img-a img-a img-a img-a img-a img-a"
      "img-b img-b img-b img-b img-c img-c img-c img-c"
      "desc desc desc desc desc desc desc desc"
      ;
    }
}
