<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <a href="/"><img src="/assets/images/PGS-logo-web.png"></a>
        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    {% for item in site.data.navigation %}
                    <p>
                        {% if page.url contains item.link and page.dir == '/'%}
                            {{ item.name }}
                        {% else %}
                            <a href="{{ item.link }}" {% if item.new_window == true %}target="_blank"{% endif %}>{{ item.name }}</a>
                        {% endif %}
                    </p>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</footer>
