@font-face {
  font-family: "Walsheim Regular";
  src: url("/assets/fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Medium";
  src: url("/assets/fonts/GT-Walsheim-Medium.woff2") format("woff2"), url("/assets/fonts/GT-Walsheim-Medium.woff") format("woff");
}

// our base PGS colors
$cherry: #ee2348;
$sky: #b6e2e9;
$french_vanilla: #fcf3b0;
$summer_nights: #15133f;

$cherry_lighter: lighten( $cherry, 10% );
$text_color: #444;


html {
  font-size: 13px;
}

body {
  background-color: #fff;
  color: $text_color;
  font-size: 1.4rem;
  font-family: 'Walsheim Regular', sans-serif;
  margin: 6rem 6rem 0 6rem;
}

a, a:link, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

a:link {
    border-bottom: .02em solid $cherry;
    color: $text_color;

}
a:hover {
    color: #444;
    border-bottom: .1em solid $cherry;
}

a:visited {
    border-bottom: .02em solid $cherry;
    color: $text_color;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.body-text {
    font-size: 2rem;
}

.highlight-inline {
  color: $cherry;
}

.highlight-inline:link {
  color: $cherry;
}

.highlight-inline:visited {
  color: $cherry;
}

p {
    margin: 0 0 1em 0;
}

.footer-logo {
    grid-area: footer-logo;
    align-self: end;
}

.btn {
    background-color: $cherry;
    color: #fff;
    border-radius: 0;
    text-decoration: none;
    font-size: 1.4rem;
    padding: .5em 1em;
    white-space: nowrap;
}

.btn:link {
    color: #fff;
    border: none;
}


.btn:visited {
    color: #fff;
    border: none;
}

.btn:hover {
    border: none;
    filter: drop-shadow(.1em .1em .2em $cherry_lighter);
}

.button-container {
    margin-top: 2em;
}

/* footer */

footer .container {
  max-width: 1100px;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  background-color: #fff;
  color: $text_color;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". . . footer-logo footer-logo footer-nav";
}

.footer-logo {
    grid-area: footer-logo;
}

.footer-nav {
    grid-area: footer-nav;
    place-self: center center;
    margin: 0;
}

.footer-logo img {
    height:100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul p {
    margin-bottom: .5em;
}

footer {
    margin: 12rem 0;
}

/* /footer */

@media only screen and (max-width: 900px)  {

    html {
      font-size: 12px;
    }

    body {
        margin: 2rem;
    }

    .container {
        grid-column-gap: .5em;
        grid-row-gap: .5em;
    }

    footer .container {

      grid-template-areas:
        ". footer-logo footer-logo footer-logo footer-nav footer-nav footer-nav .";
    }

}
