/***********
landing page styling
***********/

.container {
  max-width: 1100px;
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "intro-text intro-text intro-text . . ."
    ". . . . . ."
    "svc-img svc-img svc-img svc-img svc-img svc-img"
    "fullscreen-link-container fullscreen-link-container fullscreen-link-container fullscreen-link-container fullscreen-link-container fullscreen-link-container"
    "svc-title svc-desc svc-desc . . ."
    ". . . . . ."
    "goods-img goods-img goods-img goods-img goods-img goods-img"
    "goods-title goods-desc goods-desc . . .";
}

.intro-text {
    grid-area: intro-text;
}

.svc-img {
    grid-area: svc-img;
}

.fullscreen-link-container {
    grid-area: fullscreen-link-container;
    justify-self: end;
    margin-top: -2rem;
}

.img-desc {
  color: #888;
  font-size: 0.85em;
}

.fullscreen-link-container {
    a, a:link, a:hover, a:active, a:visited, a:focus {
      color: #888;
    }
}

.svc-title {
    grid-area: svc-title;
    margin-top: -3rem;
}

.svc-desc {
    grid-area: svc-desc;
    margin-top: -3rem;
}

.goods-img {
    grid-area: goods-img;
}

.goods-title {
    grid-area: goods-title;
}

.goods-desc {
    grid-area: goods-desc;
}

@media only screen and (max-width: 900px)  {
    .container {
        grid-row-gap: 1em;
        grid-template-areas:
            ". . . . . ."
            "intro-text intro-text intro-text intro-text intro-text intro-text"
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            "svc-img svc-img svc-img svc-img svc-img svc-img"
            "svc-title svc-desc svc-desc svc-desc svc-desc svc-desc"
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            "goods-img goods-img goods-img goods-img goods-img goods-img"
            "goods-title goods-desc goods-desc goods-desc goods-desc goods-desc"
            ". . . . . ."
            ". . . . . ."
            ". . . . . ."
            ". . . . . .";

    }

    .fullscreen-link-container {
        display: none;
    }

    .svc-title {
        grid-area: svc-title;
        margin-top: 1rem;
    }

    .svc-desc {
        grid-area: svc-desc;
        margin-top: 1rem;
    }

    .goods-title {
        margin-top: 1rem;
    }

    .goods-desc {
        margin-top: 1rem;
    }

}
