.projects-landing {
    .container {
      max-width: 1100px;
      display: grid;
      grid-column-gap: 2em;
      grid-row-gap: 2em;
      margin: 0 auto;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "intro-text intro-text intro-text . . ."
        ". . . . . ."
        ". . . . . ."
        "openbooth-proj-container openbooth-proj-container pattern-making-proj-container pattern-making-proj-container cam-proj-container cam-proj-container"
        "frames-proj-container frames-proj-container awesome-box-proj-container awesome-box-proj-container ambient-timer-proj-container ambient-timer-proj-container"
        "hovermarks-proj-container hovermarks-proj-container thelibrary-fm-timer-proj-container thelibrary-fm-timer-proj-container pyfav-proj-container pyfav-proj-container "
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        ". . . . . ."
        "potential-text potential-text potential-text . . ."
        "potential-img-a potential-img-a potential-img-a potential-desc potential-desc potential-desc"
        ". . . . . ."
        ". . . . . .";
    }

    .intro-text {
      grid-area: intro-text;
    }

    .potential-text {
      grid-area: potential-text;
    }

    .potential-desc {
      grid-area: potential-desc;
    }

    .potential-img-a {
      grid-area: potential-img-a;
    }

    .intro-text {
        grid-area: intro-text;
    }

    .openbooth-proj-container {
        grid-area: openbooth-proj-container;
    }

    .pattern-making-proj-container {
        grid-area: pattern-making-proj-container;
    }

    .cam-proj-container {
        grid-area: cam-proj-container;
    }

    .frames-proj-container {
        grid-area: frames-proj-container;
    }

    .ambient-timer-proj-container {
        grid-area: ambient-timer-proj-container;
    }

    .hovermarks-proj-container {
        grid-area: hovermarks-proj-container;
    }

    .awesome-box-proj-container {
        grid-area: awesome-box-proj-container;
    }

    .thelibrary-fm-timer-proj-container {
        grid-area: thelibrary-fm-timer-proj-container;
    }

    .pyfav-proj-container {
        grid-area: pyfav-proj-container;
    }

    .three60-proj-container {
        grid-area: three60-proj-container;
    }

    .project-title {
        font-size: 1.3em;
        line-height: 1.5em;
        margin-right: 1em;
    }

    img {
        height: auto;
        max-width: 100%;
        margin-bottom: 1rem;
    }


    @media only screen and (max-width: 600px) {
        .container {
          grid-row-gap: 1em;
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
            ". ."
            "intro-text intro-text"
            ". ."
            ". ."
            "openbooth-proj-container openbooth-proj-container"
            ". ."
            "pattern-making-proj-container pattern-making-proj-container"
            ". ."
            "cam-proj-container cam-proj-container"
            ". ."
            "frames-proj-container frames-proj-container"
            ". ."
            "ambient-timer-proj-container ambient-timer-proj-container"
            ". ."
            "hovermarks-proj-container hovermarks-proj-container"
            ". ."
            "awesome-box-proj-container awesome-box-proj-container"
            ". ."
            "thelibrary-fm-timer-proj-container thelibrary-fm-timer-proj-container"
            ". ."
            "pyfav-proj-container pyfav-proj-container"
            ". ."
            ". ."
            ". ."
            ". ."
            "potential-text potential-text"
            ". ."
            "potential-img-a potential-img-a"
            ". ."
            "potential-desc potential-desc"
            ". ."
            ". ."
            ". ."
            ". .";
        }

        .img-desc {
          font-size: 0.85em;
        }

        .fullscreen-a {
            display: none;
        }

        .fullscreen-b {
            display: none;
        }

        .screens-a-desc-container {
            margin-top: 0;

        }

        .screens-b-desc-container {
            margin-top: 0;
        }

    } // media query
} // page styling wrapper
