.frames {

    .container {
      max-width: 1100px;
      display: grid;
      grid-column-gap: 2em;
      grid-row-gap: 2em;
      background-color: #fff;
      margin: 0 auto;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
      "intro-text intro-text intro-text . . ."
      ". . . . . ."
      ". . . . . ."
      "img-a img-a img-a img-a desc desc"
      "img-b img-b img-c img-c desc desc"
      "phone-frames-desc phone-frames-desc phone-frames-desc phone-frames-desc desc desc";
    }

    .intro-text {
        grid-area: intro-text;
    }

    .desc {
        grid-area: desc;
    }

    .img-a {
        grid-area: img-a;
    }

    .img-b {
        grid-area: img-b;
    }

    .img-c {
        grid-area: img-c;
    }

    .phone-frames-desc {
        grid-area: phone-frames-desc;
    }

    .img-b, .img-c {
        max-width: 75%;
        align-self: center;
    }

    .img-b {
        justify-self: end;
    }

    .img-desc {
        margin-top: 2rem;
    }

    .phone-frames-desc {
        margin-top: -3rem;
    }

    @media only screen and (max-width: 900px) {

        .container {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: 1em;
            grid-template-areas:
            "intro-text intro-text"
            ". ."
            ". ."
            "img-a img-a"
            ". ."
            "img-b img-c"
            "img-d img-e"
            "phone-frames-desc phone-frames-desc"
            "desc desc";
        }

        .phone-frames-desc {
            margin-top: -2rem;
        }
    }

}
