.project-details {

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .img-desc {
        color: #999;
        margin-top: 1em;
        font-size: .85em;
    }

    .desc-title {
        font-size: 1.1em;
        padding-top: 1em;
        margin-bottom: .7em;
    }

    .body-text {
        margin-bottom: .4em;
    }

}
